@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: "NotoSansEthiopic";
    font-weight: normal;
    src: url("/fonts/NotoSansEthiopic-Regular.ttf") format("truetype");
}

body {
    font-family: "NotoSansEthiopic", sans-serif;
}



/* Dark mode View Transition animation */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}


@theme {
  --animate-blink: blink 1s step-end infinite;
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
}
