@import "tailwindcss";

@font-face {
    font-family: "NotoSansEthiopic";
    font-weight: normal;
    src: url("../fonts/NotoSansEthiopic-Regular.ttf") format("truetype");
}

body {
    font-family: "NotoSansEthiopic", sans-serif;
}
